.main_container {
  padding-bottom: 100rem;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.inner_container {
  display: flex;
  column-gap: 5%;
}

.left_column {
  width: 60%;
}

.right_column {
  width: 35%;
}

.blogImage_wrapper_conatiner {
  padding: 0rem 5rem;
}
.inner_conatiner {
  padding: 0rem 2rem;
}

.single_image_uplaod_wrapper {
  margin-bottom: 5rem;
}

.section_title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
