.inner_contaner {
  display: flex;
}

.left_column {
  display: flex;
}

.option_radio_Wrapper {
  display: flex;
}

@media only screen and (max-width: 1020px) {
  .inner_contaner {
    width: 100%;
  }

  .left_column {
    width: 100%;
  }

  
}
