.tableFooter_main_container {
}

.tableFooter_inner_container {
  display: flex;
  column-gap: 2rem;
  /* color: #42526e; */
}

.rowPerPage_wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.footer_text {
  font-size: 1.4rem;
  line-height: 16px;
  color: #42526e;
  padding: 12px;
  text-transform: capitalize;
}

.footer_pageNumber_wrapper {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.navigation_arrow_wrapper {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  column-gap: 1rem;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--th-white-color);
  color: var(--th-white-color);
  border-radius: 0.5rem;
  box-shadow: var(--th-box-shadow);
}

.arrow_btn {
  border: none;
  background-color: transparent;
  color: var(--th-primary-color);
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--th-box-shadow);
  cursor: pointer;
}
