.backupContainer {
  padding: var(--th-list-layout-dekstop-pading);
}

.section_title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.section_descreption {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 720px) {
  .backupContainer {
    padding: var(--th-list-layout-mobile-pading);
  }
}
