.page_title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.submitBtn_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}

.flex_column {
  display: flex;
  column-gap: 3rem;
}

.fieldColumn_section_wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 3rem;
}

.form_inner_container {
  margin-bottom: 2rem;
}
