.input_container {
  position: relative;
}

.input_wrapper {
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  background-color: white;
}
.lable_wrapper {
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

.lable_style {
  font-size: 1.2rem;
  /* margin-bottom: 1rem; */
}

.text_inputStyle {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
}

.error_text {
  position: absolute;
  color: red;
  font-size: 1rem;
}
