.main_conatiner {
  padding: var(--th-list-layout-dekstop-pading);
}

.page_heading {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.page_fillter_wrapper {
  padding: 10px 14px;
  position: relative;
  background: #fff;
  margin-bottom: 4rem;
  font-size: 13px;
  box-shadow: 2px 2px 0 0 #ececec;
  overflow: hidden;
  width: 100%;
  height: 7rem;
  border: 1px solid #ebecf0;
  border-radius: 8px;
  box-sizing: border-box;
}

.page_fillter_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fillter_left_column {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  width: 70%;
}

.fillter_right_column {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.search_wrapper {
  width: 25rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.fillter_createBar_wrapper {
  width: 65rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.inner_wrraper {
  width: 100%;
}

.elemnet_wrapper {
}

.fixed_gap {
  font-size: 1rem;
  height: 1.5rem;
}

@media only screen and (max-width: 720px) {
  .main_conatiner {
    padding: var(--th-list-layout-mobile-pading);
  }
  .page_fillter_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 1rem;
    row-gap: 2rem;
    height: 35rem;
  }

  .fillter_left_column {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
  }

  .fillter_right_column {
    width: 100%;
  }

  .fillter_createBar_wrapper {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
  }

  .search_wrapper {
    width: 100%;
  }
}
