.loading_container {
}

/* HTML: <div class="loader"></div> */
.loader {
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #ffff 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

.small {
  width: 45px;
  padding: 0.7rem 0.8rem;
}

.large {
  width: 45px;
  padding: 1.2rem 0rem;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
