.main_container {
}

.section_container {
  margin-bottom: 3rem;
}

.section_heading {
  margin-bottom: 2rem;
}

.option_title {
  margin-bottom: 1rem;
}

.inline_radio_options_wrapper {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
}

.section_inline_options_wrapper {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.inline_section {
  display: flex;
  column-gap: 5rem;
}

/* start */
.column_options_wrapper {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  row-gap: 5rem;
}

.inline_optionsBox {
  display: flex;
  column-gap: 1rem;
}
