.btn_style {
  height: auto;
  cursor: pointer;
  color: var(--th-white-color);
  letter-spacing: 0.1rem;
}

.fill_type_btn {
  background-color: var(--th-primary-color);
  outline: none;
  border: none;
  color: var(--th-body-background);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.medium {
  background-color: var(--th-primary-color);
  cursor: pointer;
  font-family: var(--th-font-family);
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: var(--th-white-color);
  font-size: 1.4rem;
}

.small {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--th-primary-color);
  color: var(--th-white-color);
  cursor: pointer;
  padding: 0.8rem 1rem;
}

.medium:disabled,
.small:disabled {
  cursor: not-allowed;
  background-color: var(--th-disable-btn-bg-color); /* Tailwind gray-300 */
  color: var(--th-disable-btn-color); /* Tailwind gray-400 for text */
  opacity: var(--th-disable-btn-opacity); /* extra faded look */
}
